API2.json
[
    {
        "id": "6591ce3ca039d792",
        "type": "tab",
        "label": "API 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "98658b3aaeb7404e",
        "type": "inject",
        "z": "6591ce3ca039d792",
        "name": "Test",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 70,
        "y": 100,
        "wires": [
            [
                "5b98147309e8031e"
            ]
        ]
    },
    {
        "id": "5b98147309e8031e",
        "type": "function",
        "z": "6591ce3ca039d792",
        "name": "batch request",
        "func": "msg.headers = {\n    \"Content-Type\": \"application/json\"\n};\n\nmsg.payload = {\n    \"samples\": [\n        {\n            \"Openness\": 7.5,\n            \"Conscientiousness\": 8.2,\n            \"Extraversion\": 6.1,\n            \"Agreeableness\": 7.8,\n            \"Neuroticism\": 4.3\n        },\n        {\n            \"Openness\": 5.2,\n            \"Conscientiousness\": 6.0,\n            \"Extraversion\": 3.5,\n            \"Agreeableness\": 6.9,\n            \"Neuroticism\": 7.1\n        }\n    ]\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 180,
        "wires": [
            [
                "0ff29814be36640b"
            ]
        ]
    },
    {
        "id": "0ff29814be36640b",
        "type": "http request",
        "z": "6591ce3ca039d792",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/api/v1/predict/batch",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 100,
        "wires": [
            [
                "2b8c0887ef8d89e2"
            ]
        ]
    },
    {
        "id": "2b8c0887ef8d89e2",
        "type": "debug",
        "z": "6591ce3ca039d792",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 180,
        "wires": []
    }
]