flow.json
[
    {
        "id": "simple_ui_flow",
        "type": "tab",
        "label": "Simple Personality Test UI",
        "disabled": false,
        "info": "A simple dashboard for personality prediction - perfect for beginners!"
    },
    {
        "id": "ui_tab_personality",
        "type": "ui_tab",
        "name": "Personality Test",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_group_input",
        "type": "ui_group",
        "name": " Enter Your Personality Traits (0-10)",
        "tab": "ui_tab_personality",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_group_result",
        "type": "ui_group",
        "name": " Your Result",
        "tab": "ui_tab_personality",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_group_help",
        "type": "ui_group",
        "name": " How to Use",
        "tab": "ui_tab_personality",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": true
    },
    {
        "id": "openness_slider",
        "type": "ui_slider",
        "z": "simple_ui_flow",
        "name": "Openness",
        "label": " Openness (Creativity)",
        "tooltip": "How creative and open to new experiences are you?",
        "group": "ui_group_input",
        "order": 1,
        "width": "12",
        "height": "1",
        "passthru": true,
        "outs": "end",
        "topic": "openness",
        "topicType": "str",
        "min": 0,
        "max": 10,
        "step": 0.5,
        "x": 110,
        "y": 100,
        "wires": [["collect_values"]]
    },
    {
        "id": "conscientiousness_slider",
        "type": "ui_slider",
        "z": "simple_ui_flow",
        "name": "Conscientiousness",
        "label": " Conscientiousness (Organization)",
        "tooltip": "How organized and disciplined are you?",
        "group": "ui_group_input",
        "order": 2,
        "width": "12",
        "height": "1",
        "passthru": true,
        "outs": "end",
        "topic": "conscientiousness",
        "topicType": "str",
        "min": 0,
        "max": 10,
        "step": 0.5,
        "x": 150,
        "y": 140,
        "wires": [["collect_values"]]
    },
    {
        "id": "extraversion_slider",
        "type": "ui_slider",
        "z": "simple_ui_flow",
        "name": "Extraversion",
        "label": " Extraversion (Social Energy)",
        "tooltip": "How outgoing and social are you?",
        "group": "ui_group_input",
        "order": 3,
        "width": "12",
        "height": "1",
        "passthru": true,
        "outs": "end",
        "topic": "extraversion",
        "topicType": "str",
        "min": 0,
        "max": 10,
        "step": 0.5,
        "x": 130,
        "y": 180,
        "wires": [["collect_values"]]
    },
    {
        "id": "agreeableness_slider",
        "type": "ui_slider",
        "z": "simple_ui_flow",
        "name": "Agreeableness",
        "label": " Agreeableness (Cooperation)",
        "tooltip": "How cooperative and trusting are you?",
        "group": "ui_group_input",
        "order": 4,
        "width": "12",
        "height": "1",
        "passthru": true,
        "outs": "end",
        "topic": "agreeableness",
        "topicType": "str",
        "min": 0,
        "max": 10,
        "step": 0.5,
        "x": 140,
        "y": 220,
        "wires": [["collect_values"]]
    },
    {
        "id": "neuroticism_slider",
        "type": "ui_slider",
        "z": "simple_ui_flow",
        "name": "Neuroticism",
        "label": " Neuroticism (Emotional Stability)",
        "tooltip": "How emotionally stable are you? (Lower = more stable)",
        "group": "ui_group_input",
        "order": 5,
        "width": "12",
        "height": "1",
        "passthru": true,
        "outs": "end",
        "topic": "neuroticism",
        "topicType": "str",
        "min": 0,
        "max": 10,
        "step": 0.5,
        "x": 130,
        "y": 260,
        "wires": [["collect_values"]]
    },
    {
        "id": "collect_values",
        "type": "function",
        "z": "simple_ui_flow",
        "name": "Collect All Values",
        "func": "// Store each slider value\nif (!flow.get('personality')) {\n    flow.set('personality', {\n        Openness: 5,\n        Conscientiousness: 5,\n        Extraversion: 5,\n        Agreeableness: 5,\n        Neuroticism: 5\n    });\n}\n\nlet personality = flow.get('personality');\n\n// Update the specific trait\nswitch(msg.topic) {\n    case 'openness':\n        personality.Openness = msg.payload;\n        break;\n    case 'conscientiousness':\n        personality.Conscientiousness = msg.payload;\n        break;\n    case 'extraversion':\n        personality.Extraversion = msg.payload;\n        break;\n    case 'agreeableness':\n        personality.Agreeableness = msg.payload;\n        break;\n    case 'neuroticism':\n        personality.Neuroticism = msg.payload;\n        break;\n}\n\nflow.set('personality', personality);\n\n// Update display\nmsg.payload = `Current values:\\n` +\n    `Openness: ${personality.Openness}\\n` +\n    `Conscientiousness: ${personality.Conscientiousness}\\n` +\n    `Extraversion: ${personality.Extraversion}\\n` +\n    `Agreeableness: ${personality.Agreeableness}\\n` +\n    `Neuroticism: ${personality.Neuroticism}`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Initialize with default values\nflow.set('personality', {\n    Openness: 5,\n    Conscientiousness: 5,\n    Extraversion: 5,\n    Agreeableness: 5,\n    Neuroticism: 5\n});",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 180,
        "wires": [[]]
    },
    {
        "id": "predict_button",
        "type": "ui_button",
        "z": "simple_ui_flow",
        "name": "Predict Button",
        "group": "ui_group_input",
        "order": 6,
        "width": "12",
        "height": "2",
        "passthru": false,
        "label": " Predict My Personality!",
        "tooltip": "Click to see if you're an Introvert or Extrovert",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "predict",
        "payloadType": "str",
        "topic": "predict",
        "topicType": "str",
        "x": 120,
        "y": 340,
        "wires": [["prepare_prediction"]]
    },
    {
        "id": "prepare_prediction",
        "type": "function",
        "z": "simple_ui_flow",
        "name": "Prepare API Call",
        "func": "// Get stored values\nconst personality = flow.get('personality') || {\n    Openness: 5,\n    Conscientiousness: 5,\n    Extraversion: 5,\n    Agreeableness: 5,\n    Neuroticism: 5\n};\n\n// Prepare for API\nmsg.url = 'http://localhost:5000/api/v1/predict';\nmsg.method = 'POST';\nmsg.headers = {\n    'Content-Type': 'application/json'\n};\nmsg.payload = personality;\n\n// Show loading message\nnode.send([null, {payload: \" Analyzing your personality...\"}]);\n\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 340,
        "wires": [["call_api"], ["loading_text"]]
    },
    {
        "id": "call_api",
        "type": "http request",
        "z": "simple_ui_flow",
        "name": "Call Prediction API",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 550,
        "y": 340,
        "wires": [["process_result"]]
    },
    {
        "id": "process_result",
        "type": "function",
        "z": "simple_ui_flow",
        "name": "Process Result",
        "func": "if (msg.statusCode !== 200) {\n    msg.payload = \" Error: Could not get prediction. Is the API running?\";\n    return [null, msg, null, null];\n}\n\nconst result = msg.payload.data.prediction;\nconst personality = result.personality;\nconst confidence = (result.confidence * 100).toFixed(0);\n\n// Prepare different outputs\nlet mainResult = {\n    payload: personality === 'Extrovert' ? \n        ` You are an EXTROVERT! (${confidence}% confident)` :\n        ` You are an INTROVERT! (${confidence}% confident)`,\n    topic: personality\n};\n\nlet description = {\n    payload: personality === 'Extrovert' ?\n        \"You're outgoing, social, and energetic! You enjoy being around people and get energy from social interactions.\" :\n        \"You're thoughtful, independent, and analytical! You prefer quiet environments and need alone time to recharge.\"\n};\n\nlet gauge = {\n    payload: result.calculation_score,\n    min: 0,\n    max: 10\n};\n\nlet details = {\n    payload: `Your Scores:\\n` +\n        `• Extrovert probability: ${(result.probability_scores.Extrovert * 100).toFixed(0)}%\\n` +\n        `• Introvert probability: ${(result.probability_scores.Introvert * 100).toFixed(0)}%\\n` +\n        `• Calculation score: ${result.calculation_score}\\n` +\n        `\\n Tip: Score >= 6 means Extrovert`\n};\n\nreturn [mainResult, description, gauge, details];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 340,
        "wires": [["result_text"], ["description_text"], ["score_gauge"], ["details_text"]]
    },
    {
        "id": "loading_text",
        "type": "ui_text",
        "z": "simple_ui_flow",
        "group": "ui_group_result",
        "order": 1,
        "width": "12",
        "height": "1",
        "name": "Loading",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 540,
        "y": 380,
        "wires": []
    },
    {
        "id": "result_text",
        "type": "ui_text",
        "z": "simple_ui_flow",
        "group": "ui_group_result",
        "order": 1,
        "width": "12",
        "height": "2",
        "name": "Main Result",
        "label": "",
        "format": "<font size=5><b>{{msg.payload}}</b></font>",
        "layout": "col-center",
        "x": 970,
        "y": 300,
        "wires": []
    },
    {
        "id": "description_text",
        "type": "ui_text",
        "z": "simple_ui_flow",
        "group": "ui_group_result",
        "order": 2,
        "width": "12",
        "height": "2",
        "name": "Description",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 970,
        "y": 340,
        "wires": []
    },
    {
        "id": "score_gauge",
        "type": "ui_gauge",
        "z": "simple_ui_flow",
        "name": "Score Gauge",
        "group": "ui_group_result",
        "order": 3,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Personality Score",
        "label": "points",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": ["#00B500", "#E6E600", "#CA3838"],
        "seg1": "4",
        "seg2": "6",
        "x": 970,
        "y": 380,
        "wires": []
    },
    {
        "id": "details_text",
        "type": "ui_text",
        "z": "simple_ui_flow",
        "group": "ui_group_result",
        "order": 4,
        "width": "6",
        "height": "4",
        "name": "Details",
        "label": "Details:",
        "format": "{{msg.payload}}",
        "layout": "col-left",
        "x": 960,
        "y": 420,
        "wires": []
    },
    {
        "id": "help_text",
        "type": "ui_text",
        "z": "simple_ui_flow",
        "group": "ui_group_help",
        "order": 1,
        "width": "12",
        "height": "8",
        "name": "Help Text",
        "label": "",
        "format": "<b> How to use this test:</b><br><br>\n1. <b>Move the sliders</b> to rate yourself from 0-10 on each trait<br>\n2. <b>Click the Predict button</b> to see your result<br>\n3. <b>Check your personality type</b> - Introvert or Extrovert!<br><br>\n<b> What the traits mean:</b><br>\n• <b>Openness:</b> Creativity and openness to new experiences<br>\n• <b>Conscientiousness:</b> How organized and responsible you are<br>\n• <b>Extraversion:</b> How outgoing and social you are<br>\n• <b>Agreeableness:</b> How cooperative and trusting you are<br>\n• <b>Neuroticism:</b> Emotional stability (lower = more stable)<br><br>\n<b> Tip:</b> Be honest for accurate results!",
        "layout": "col-left",
        "x": 120,
        "y": 460,
        "wires": []
    },
    {
        "id": "reset_button",
        "type": "ui_button",
        "z": "simple_ui_flow",
        "name": "Reset Button",
        "group": "ui_group_input",
        "order": 7,
        "width": "12",
        "height": "1",
        "passthru": false,
        "label": " Reset to Default (5)",
        "tooltip": "Reset all values to 5",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "reset",
        "payloadType": "str",
        "topic": "reset",
        "topicType": "str",
        "x": 120,
        "y": 520,
        "wires": [["reset_values"]]
    },
    {
        "id": "reset_values",
        "type": "function",
        "z": "simple_ui_flow",
        "name": "Reset All Values",
        "func": "// Reset to default values\nconst defaultValues = {\n    Openness: 5,\n    Conscientiousness: 5,\n    Extraversion: 5,\n    Agreeableness: 5,\n    Neuroticism: 5\n};\n\nflow.set('personality', defaultValues);\n\n// Send reset messages to all sliders\nreturn [\n    {payload: 5, topic: 'openness'},\n    {payload: 5, topic: 'conscientiousness'},\n    {payload: 5, topic: 'extraversion'},\n    {payload: 5, topic: 'agreeableness'},\n    {payload: 5, topic: 'neuroticism'},\n    {payload: ' All values reset to 5'}\n];",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 520,
        "wires": [["openness_slider"], ["conscientiousness_slider"], ["extraversion_slider"], ["agreeableness_slider"], ["neuroticism_slider"], ["reset_message"]]
    },
    {
        "id": "reset_message",
        "type": "ui_toast",
        "z": "simple_ui_flow",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "Reset Toast",
        "x": 570,
        "y": 580,
        "wires": []
    }
]