health.json
[
    {
        "id": "e4804dd2ddff8cc1",
        "type": "tab",
        "label": "HEALTH",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "83d664bd5e0e6aee",
        "type": "inject",
        "z": "e4804dd2ddff8cc1",
        "name": "Check API Health",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 220,
        "y": 160,
        "wires": [
            [
                "412d15ec3af6f80a"
            ]
        ]
    },
    {
        "id": "412d15ec3af6f80a",
        "type": "http request",
        "z": "e4804dd2ddff8cc1",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 160,
        "wires": [
            [
                "21524ecb879632ca"
            ]
        ]
    },
    {
        "id": "21524ecb879632ca",
        "type": "debug",
        "z": "e4804dd2ddff8cc1",
        "name": "Health Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 160,
        "wires": []
    }
]